In [1]:
import requests
import json
import pandas as pd

## Use—Ä

In [169]:
def getUserInfoResponse(username):
#     input (string): username 
#     output (string): JSON response
    url = f"https://twitter.com/i/api/graphql/hc-pka9A7gyS3xODIafnrQ/UserByScreenName?variables=%7B%22screen_name%22%3A%22{username}%22%2C%22withHighlightedLabel%22%3Atrue%7D"
    payload={}
    headers = {
      'Content-Type': 'application/json',
      'Accept': '*/*',
      'Authorization': 'Bearer AAAAAAAAAAAAAAAAAAAAANRILgAAAAAAnNwIzUejRCOuH5E6I8xnZz4puTs%3D1Zv7ttfk8LF81IUq16cHjhLTvJu4FA33AGWWjCpTnA',
      'Accept-Encoding': 'gzip, deflate, br',
      'Accept-Language': 'en-gb',
      'Host': 'twitter.com',
      'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_6) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/14.0.2 Safari/605.1.15',
      'Connection': 'keep-alive',
      'Cookie': '_ga=GA1.2.1728120664.1614803046; _gid=GA1.2.959135695.1615041021; twid=u%3D1081284009823555584; lang=en; cd_user_id=177fcea35ad4f9-0146a181011fb8-48183201-13c680-177fcea35aea98; mbox=PC#5af5d131a3d8457eadff08a61d6501cc.38_0#1678100743|session#024ba0a521df4ae082d6bc2f0809dfc0#1614857802; external_referer=padhuUp37zj9xuUOXCNFvIbxLqKGGEyN|0|8e8t2xd8A2w%3D; des_opt_in=Y; ads_prefs="HBISAAA="; auth_token=015a5acdf5578ba8c16b2fe4ff9c53eb3b25d175; ct0=4eaea07b1ba828f9bf8a1c4fe5487c7b51cf702852445725432915052ea7b90d255860d9562695b66b69ce17ed8460abf5cc846c715c6f0445ff66b4ff09d2b4cd992445f177ea58458b9aef42ae7c8c; dnt=1; kdt=A0C41bULaFlaBKVxvmWf9ssbbHSRa7M6Tl8k26aS; remember_checked_on=1; guest_id=v1%3A161418947273669233; personalization_id="v1_3OfRfaPwtHPmzeXO7foP0g=="',
      'x-twitter-active-user': 'yes',
      'x-twitter-client-language': 'en',
      'x-csrf-token': '4eaea07b1ba828f9bf8a1c4fe5487c7b51cf702852445725432915052ea7b90d255860d9562695b66b69ce17ed8460abf5cc846c715c6f0445ff66b4ff09d2b4cd992445f177ea58458b9aef42ae7c8c',
      'x-twitter-auth-type': 'OAuth2Session'
    }
    
    response = requests.request("GET", url, headers=headers, data=payload)
    
    if json.loads(response.text)['data'] == {}:
        raise ValueError('Wrong username!')
        return None
    
    return response

In [170]:
def getUserInfo(username):
#     input (string): username
#     output (dict)
    
    response = getUserInfoResponse(username)
    
    if response == None:
        return None
    
    data = json.loads(response.text)
    
    info = {}
    
    info['username'] = username
    info['rest_id'] = data['data']['user']['rest_id']
    info['location'] = data['data']['user']['legacy']['location']
    
    
    return info

In [172]:
# data = getUserInfo('a_konyaev')
# data['data']['user']
# data
getUserInfo('a_konyaev')

{'username': 'a_konyaev', 'rest_id': '519499050', 'location': 'Moscow, Russia'}

## Follower—ã

In [5]:
def getUserFollowingResponse(rest_id, following_count = 15000):
    urlFollowing = f"https://twitter.com/i/api/graphql/taJbMVFxNBcULs8aHwX3cg/Following?variables=%7B%22userId%22%3A%22{rest_id}%22%2C%22count%22%3A{str(following_count)}%2C%22withHighlightedLabel%22%3Afalse%2C%22withTweetQuoteCount%22%3Afalse%2C%22includePromotedContent%22%3Afalse%2C%22withTweetResult%22%3Afalse%2C%22withUserResults%22%3Afalse%2C%22withNonLegacyCard%22%3Atrue%7D"
    payload={}
    headers = {
      'Content-Type': 'application/json',
      'Accept': '*/*',
      'Authorization': 'Bearer AAAAAAAAAAAAAAAAAAAAANRILgAAAAAAnNwIzUejRCOuH5E6I8xnZz4puTs%3D1Zv7ttfk8LF81IUq16cHjhLTvJu4FA33AGWWjCpTnA',
      'Accept-Encoding': 'gzip, deflate, br',
      'Accept-Language': 'en-gb',
      'Host': 'twitter.com',
      'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_6) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/14.0.2 Safari/605.1.15',
      'Connection': 'keep-alive',
      'Cookie': '_ga=GA1.2.1728120664.1614803046; _gid=GA1.2.959135695.1615041021; twid=u%3D1081284009823555584; lang=en; cd_user_id=177fcea35ad4f9-0146a181011fb8-48183201-13c680-177fcea35aea98; mbox=PC#5af5d131a3d8457eadff08a61d6501cc.38_0#1678100743|session#024ba0a521df4ae082d6bc2f0809dfc0#1614857802; external_referer=padhuUp37zj9xuUOXCNFvIbxLqKGGEyN|0|8e8t2xd8A2w%3D; des_opt_in=Y; ads_prefs="HBISAAA="; auth_token=015a5acdf5578ba8c16b2fe4ff9c53eb3b25d175; ct0=4eaea07b1ba828f9bf8a1c4fe5487c7b51cf702852445725432915052ea7b90d255860d9562695b66b69ce17ed8460abf5cc846c715c6f0445ff66b4ff09d2b4cd992445f177ea58458b9aef42ae7c8c; dnt=1; kdt=A0C41bULaFlaBKVxvmWf9ssbbHSRa7M6Tl8k26aS; remember_checked_on=1; guest_id=v1%3A161418947273669233; personalization_id="v1_3OfRfaPwtHPmzeXO7foP0g=="',
      'x-twitter-active-user': 'yes',
      'x-twitter-client-language': 'en',
      'x-csrf-token': '4eaea07b1ba828f9bf8a1c4fe5487c7b51cf702852445725432915052ea7b90d255860d9562695b66b69ce17ed8460abf5cc846c715c6f0445ff66b4ff09d2b4cd992445f177ea58458b9aef42ae7c8c',
      'x-twitter-auth-type': 'OAuth2Session'
    }
    
    response = requests.request("GET", urlFollowing, headers=headers, data=payload)
    
    if 'data' not in json.loads(response.text).keys():
        raise ValueError('Wrong REST id!')
        return None
    
    if {} == json.loads(response.text)['data']['user']['following_timeline']:
        raise ValueError('Wrong REST id!')
        return None
    
#     data = json.loads(response.text)
    
    return response

In [6]:
def getUserFollowing(rest_id):
    
    response = getUserFollowingResponse(rest_id)
    
    if response == None:
        return None
    
    data = json.loads(response.text)
    data = data['data']['user']['following_timeline']['timeline']['instructions'][len(data['data']['user']['following_timeline']['timeline']['instructions'])-1]['entries'][:-2]
    
    followingSeries = pd.DataFrame(data).content.apply(lambda x: [
        x['itemContent']['user']['rest_id'],
        x['itemContent']['user']['legacy']['screen_name'],
        x['itemContent']['user']['legacy']['name'],
        x['itemContent']['user']['legacy']['location']
    ])
    
    followingDF = pd.DataFrame.from_dict(dict(zip(followingSeries.index, followingSeries.values))).T
    followingDF.columns = pd.Index(['rest_id','username','public_name', 'location'])
    
    return followingDF

In [7]:
data = getUserFollowing('111425302')

konyaev_fans = pd.read_json(data.to_json()).loc[:,['username','location']]
konyaev_fans

            username                location
0     IKONASTILYA420                  –ú–æ—Å–∫–≤–∞
1               St1m                  Moscow
2      brucefranksjr            Arizona, USA
3    RuslanSoluyanov
4          kyok_quok  Prague, Czech Republic
..               ...                     ...
299      GalinaVyday                  London
300           akatov                  London
301       MARKMARKUL  Greater London, London
302             grju
303   JahnaSebastian      The Planet Jahnius

[304 rows x 2 columns]

## –°–º–æ—Ç—Ä–∏–º –æ—Ç–≤–µ—Ç—ã –æ—Ç API

In [8]:
def nominatimQueryToCountryCode(q):
    response_search = requests.request("GET", f"https://nominatim.openstreetmap.org/search?q={q.replace('#', '')}&format=json")
    response_search_json = json.loads(response_search.text)
    if response_search_json:
        try:
            response_details = requests.request("GET", f"https://nominatim.openstreetmap.org/details?osmtype=R&osmid={response_search_json[0]['osm_id']}&format=json")
        except KeyError:
            return None
    else:
        return None
    response_details_json = json.loads(response_details.text)
    if 'error' in response_details_json:
        return None
    return response_details_json['country_code']

In [9]:
nominatimQueryToCountryCode('–ï–∫–∞—Ç–µ—Ä–∏–Ω–±—É—Ä–≥')

–û–±—Ä–∞–±–∞—Ç—ã–≤–∞–µ–º DF —Å username'–∞–º–∏ –∏ location'–∞–º–∏

In [10]:
abbHistoryDict = {}

In [11]:
def formatObviousLocations(df):
    dataframe = df.copy()
    changed_locations_count = 0
    empty_locations_count = 0
    for i,row in dataframe.iterrows():
        
        if row.location == '':
            empty_locations_count += 1
            continue
        if not row.location:
            empty_locations_count += 1
            continue
        
        if not row.location in abbHistoryDict:
            formatted_location = nominatimQueryToCountryCode(row.location)
            if formatted_location:
                abbHistoryDict[formatted_location] = formatted_location
                abbHistoryDict[row.location] = formatted_location

                dataframe.iloc[i].location = formatted_location
                changed_locations_count += 1
        else:
            dataframe.iloc[i].location = abbHistoryDict[row.location]
            changed_locations_count += 1
    
    changed_locations_percent = changed_locations_count/len(dataframe)
    empty_locations_percent = empty_locations_count/len(dataframe)
    
    return dataframe, changed_locations_percent, empty_locations_percent

In [12]:
%%time
obviousDF, changed_locations_percent, empty_locations_percent = formatObviousLocations(konyaev_fans)

CPU times: user 4.84 s, sys: 401 ms, total: 5.24 s
Wall time: 2min 20s

In [13]:
abbHistoryDict

{'ru': 'ru',
 '–ú–æ—Å–∫–≤–∞': 'ru',
 'Moscow': 'ru',
 'us': 'us',
 'Arizona, USA': 'us',
 'cz': 'cz',
 'Prague, Czech Republic': 'cz',
 '–ú–æ—Å–∫–≤–∞, –†–æ—Å—Å–∏—è': 'ru',
 'Odintsovo (M.O. Russia)': 'ru',
 'ca': 'ca',
 'Canada': 'ca',
 'de': 'de',
 'Germany': 'de',
 'gb': 'gb',
 'London': 'gb',
 'Moscow, Russia': 'ru',
 'Saint Petersburg, Russia': 'ru',
 'Los Angeles': 'us',
 'pk': 'pk',
 'Pakistan': 'pk',
 'ph': 'ph',
 'Republic of the Philippines': 'ph',
 'hr': 'hr',
 'Republic of Croatia': 'hr',
 'Detroit': 'us',
 'Russia, Moscow': 'ru',
 'United Kingdom': 'gb',
 '–í–ª–∞–¥–∏–º–∏—Ä, –†–æ—Å—Å–∏—è': 'ru',
 'Norwich England': 'gb',
 'Volgograd, Russia': 'ru',
 'ma': 'ma',
 'Morocco': 'ma',
 'NYC': 'us',
 '–°–∞–Ω–∫—Ç-–ü–µ—Ç–µ—Ä–±—É—Ä–≥, –†–æ—Å—Å–∏—è': 'ru',
 'Oakland, CA': 'us',
 'Stockton, CA': 'us',
 '–†–æ—Å—Ç–æ–≤-–Ω–∞-–î–æ–Ω—É, –†–æ—Å—Å–∏—è': 'ru',
 'es': 'es',
 'Catalonia, Spain': 'es',
 'UK': 'gb',
 'Brooklyn': 'us',
 'ua': 'ua',
 'Kiev, Ukraine': 'ua',
 'Kyiv, Ukraine': 'ua',
 'Portland': 'us',
 'Rostov-on-Don': 'ru',
 '–†–æ—Å—Å–∏—è, –ö—Ä–∞—Å–Ω–æ–¥–∞—Ä': 'ru',
 'Krasnodar': 'ru',
 'Los Angeles, CA': 'us',
 'New York': 'us',
 'Russian Federation': 'ru',
 'United States': 'us',
 'Saint-Petersburg': 'ru',
 'Toronto, Ontario': 'ca',
 'Philadelphia, PA': 'us',
 'New York, NY': 'us',
 'Manchester': 'gb',
 'br': 'br',
 'Israel√¢ndia, Brasil': 'br',
 'Manchester, England': 'gb',
 'sk': 'sk',
 '–ì–æ–ª—å—è–Ω–æ–≤–æ': 'sk',
 'Toronto': 'ca',
 'Russia': 'ru',
 '–û–¥–µ—Å—Å–∞': 'ua',
 'by': 'by',
 '–ß–µ—Ä–Ω–∏–∫–æ–≤–∫–∞': 'by',
 'Rostov-On-Don, Russia': 'ru',
 'Oxford, England': 'gb',
 'St-Petersburg, Russia,': 'ru',
 '–£—Ñ–∞, –†–æ—Å—Å–∏—è': 'ru',
 '–†–æ—Å—Å–∏—è, –ú–æ—Å–∫–≤–∞': 'ru',
 'London, England': 'gb',
 'Saint-Petersburg / Moscow': 'ru',
 '–ë–∏–π—Å–∫': 'ru',
 'San Jose, CA': 'us',
 '–°–∞–Ω–∫—Ç-–ü–µ—Ç–µ—Ä–±—É—Ä–≥': 'ru',
 'St.Petersburg': 'us',
 'St-Petersburg': 'us',
 'Tver, Russia': 'ru',
 'pl': 'pl',
 'Warszawa': 'pl',
 '–ö—Ä–∞—Å–Ω–æ–¥–∞—Ä, –†–æ—Å—Å–∏—è': 'ru',
 'Saint-Petersburg, Russia.': 'ru',
 'LONDON ': 'gb',
 'nl': 'nl',
 '–ê–º—Å—Ç–µ—Ä–¥–∞–º': 'nl',
 'London, UK': 'gb',
 '–†–æ—Å—Å–∏—è': 'ru',
 'au': 'au',
 'Brisbane, QLD': 'au',
 'SPB': 'ru',
 'moscow': 'ru',
 'russia': 'ru',
 'Russia, St.Pete': 'ru',
 'Liverpool': 'gb',
 'fr': 'fr',
 'Paris': 'fr',
 'LONDON': 'gb',
 'london': 'gb',
 'Saint-Petersburg, Russia': 'ru',
 '–†–æ—Å—Å–∏—è, –°–∞–Ω–∫—Ç-–ü–µ—Ç–µ—Ä–±—É—Ä–≥': 'ru',
 'Bristol, England': 'gb',
 'Bochum, Germany': 'de',
 'Greater London, London': 'gb'}

## Extract location

–î–ª—è NER –∏—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å:
* spaCy - –∞–Ω–≥–ª–∏–π—Å–∫–∏–π  
* natasha - —Ä—É—Å—Å–∫–∏–π

#### spaCy

In [14]:
import spacy
# import spacy_transformers

In [15]:
# nlp = spacy.load('ru_core_news_sm')
# nlp = spacy.load('en_core_web_sm')
nlp = spacy.load('xx_ent_wiki_sm')

In [16]:
# doc = nlp('–ü–æ—Å–æ–ª –ò–∑—Ä–∞–∏–ª—è –Ω–∞ –£–∫—Ä–∞–∏–Ω–µ –ô–æ—ç–ª—å –õ–∏–æ–Ω –ø—Ä–∏–∑–Ω–∞–ª—Å—è, —á—Ç–æ –ø—Ä–∏—à–µ–ª –≤ —à–æ–∫, —É–∑–Ω–∞–≤ –æ —Ä–µ—à–µ–Ω–∏–∏ –≤–ª–∞—Å—Ç–µ–π –õ—å–≤–æ–≤—Å–∫–æ–π –æ–±–ª–∞—Å—Ç–∏ –æ–±—ä—è–≤–∏—Ç—å 2019 –≥–æ–¥ –≥–æ–¥–æ–º –ª–∏–¥–µ—Ä–∞ –∑–∞–ø—Ä–µ—â–µ–Ω–Ω–æ–π –≤ –†–æ—Å—Å–∏–∏ –û—Ä–≥–∞–Ω–∏–∑–∞—Ü–∏–∏ —É–∫—Ä–∞–∏–Ω—Å–∫–∏—Ö –Ω–∞—Ü–∏–æ–Ω–∞–ª–∏—Å—Ç–æ–≤ (–û–£–ù) –°—Ç–µ–ø–∞–Ω–∞ –ë–∞–Ω–¥–µ—Ä—ã. –°–≤–æ–µ –∑–∞—è–≤–ª–µ–Ω–∏–µ –æ–Ω —Ä–∞–∑–º–µ—Å—Ç–∏–ª –≤ Twitter. ¬´–Ø –Ω–µ –º–æ–≥—É –ø–æ–Ω—è—Ç—å, –∫–∞–∫ –ø—Ä–æ—Å–ª–∞–≤–ª–µ–Ω–∏–µ —Ç–µ—Ö, –∫—Ç–æ –Ω–µ–ø–æ—Å—Ä–µ–¥—Å—Ç–≤–µ–Ω–Ω–æ –ø—Ä–∏–Ω–∏–º–∞–ª —É—á–∞—Å—Ç–∏–µ –≤ —É–∂–∞—Å–Ω—ã—Ö –∞–Ω—Ç–∏—Å–µ–º–∏—Ç—Å–∫–∏—Ö –ø—Ä–µ—Å—Ç—É–ø–ª–µ–Ω–∏—è—Ö, –ø–æ–º–æ–≥–∞–µ—Ç –±–æ—Ä–æ—Ç—å—Å—è —Å –∞–Ω—Ç–∏—Å–µ–º–∏—Ç–∏–∑–º–æ–º –∏ –∫—Å–µ–Ω–æ—Ñ–æ–±–∏–µ–π. –£–∫—Ä–∞–∏–Ω–∞ –Ω–µ –¥–æ–ª–∂–Ω–∞ –∑–∞–±—ã–≤–∞—Ç—å –æ –ø—Ä–µ—Å—Ç—É–ø–ª–µ–Ω–∏—è—Ö, —Å–æ–≤–µ—Ä—à–µ–Ω–Ω—ã—Ö –ø—Ä–æ—Ç–∏–≤ —É–∫—Ä–∞–∏–Ω—Å–∫–∏—Ö –µ–≤—Ä–µ–µ–≤, –∏ –Ω–∏–∫–æ–∏–º –æ–±—Ä–∞–∑–æ–º –Ω–µ –æ—Ç–º–µ—á–∞—Ç—å –∏—Ö —á–µ—Ä–µ–∑ –ø–æ—á–∏—Ç–∞–Ω–∏–µ –∏—Ö –∏—Å–ø–æ–ª–Ω–∏—Ç–µ–ª–µ–π¬ª, ‚Äî –Ω–∞–ø–∏—Å–∞–ª –¥–∏–ø–ª–æ–º–∞—Ç. 11 –¥–µ–∫–∞–±—Ä—è –õ—å–≤–æ–≤—Å–∫–∏–π –æ–±–ª–∞—Å—Ç–Ω–æ–π —Å–æ–≤–µ—Ç –ø—Ä–∏–Ω—è–ª —Ä–µ—à–µ–Ω–∏–µ –ø—Ä–æ–≤–æ–∑–≥–ª–∞—Å–∏—Ç—å 2019 –≥–æ–¥ –≤ —Ä–µ–≥–∏–æ–Ω–µ –≥–æ–¥–æ–º –°—Ç–µ–ø–∞–Ω–∞ –ë–∞–Ω–¥–µ—Ä—ã –≤ —Å–≤—è–∑–∏ —Å –ø—Ä–∞–∑–¥–Ω–æ–≤–∞–Ω–∏–µ–º 110-–ª–µ—Ç–∏—è —Å–æ –¥–Ω—è —Ä–æ–∂–¥–µ–Ω–∏—è –ª–∏–¥–µ—Ä–∞ –û–£–ù (–ë–∞–Ω–¥–µ—Ä–∞ —Ä–æ–¥–∏–ª—Å—è 1 —è–Ω–≤–∞—Ä—è 1909 –≥–æ–¥–∞). –í –∏—é–ª–µ –∞–Ω–∞–ª–æ–≥–∏—á–Ω–æ–µ —Ä–µ—à–µ–Ω–∏–µ –ø—Ä–∏–Ω—è–ª –ñ–∏—Ç–æ–º–∏—Ä—Å–∫–∏–π –æ–±–ª–∞—Å—Ç–Ω–æ–π —Å–æ–≤–µ—Ç. –í –Ω–∞—á–∞–ª–µ –º–µ—Å—è—Ü–∞ —Å –ø—Ä–µ–¥–ª–æ–∂–µ–Ω–∏–µ–º –∫ –ø—Ä–µ–∑–∏–¥–µ–Ω—Ç—É —Å—Ç—Ä–∞–Ω—ã –ü–µ—Ç—Ä—É –ü–æ—Ä–æ—à–µ–Ω–∫–æ –≤–µ—Ä–Ω—É—Ç—å –ë–∞–Ω–¥–µ—Ä–µ –∑–≤–∞–Ω–∏–µ –ì–µ—Ä–æ—è –£–∫—Ä–∞–∏–Ω—ã –æ–±—Ä–∞—Ç–∏–ª–∏—Å—å –¥–µ–ø—É—Ç–∞—Ç—ã –í–µ—Ä—Ö–æ–≤–Ω–æ–π –†–∞–¥—ã. –ü–∞—Ä–ª–∞–º–µ–Ω—Ç–∞—Ä–∏–∏ —É–≤–µ—Ä–µ–Ω—ã, —á—Ç–æ –ø—Ä–∏–∑–Ω–∞–Ω–∏–µ –ë–∞–Ω–¥–µ—Ä—ã –Ω–∞—Ü–∏–æ–Ω–∞–ª—å–Ω—ã–º –≥–µ—Ä–æ–µ–º –ø–æ–º–æ–∂–µ—Ç –≤ –±–æ—Ä—å–±–µ —Å –ø–æ–¥—Ä—ã–≤–Ω–æ–π –¥–µ—è—Ç–µ–ª—å–Ω–æ—Å—Ç—å—é –ø—Ä–æ—Ç–∏–≤ –£–∫—Ä–∞–∏–Ω—ã –≤ –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏–æ–Ω–Ω–æ–º –ø–æ–ª–µ, –∞ —Ç–∞–∫–∂–µ –æ—Å—Ç–∞–Ω–æ–≤–∏—Ç ¬´—Ä–∞—Å–ø—Ä–æ—Å—Ç—Ä–∞–Ω–µ–Ω–∏–µ –º–∏—Ñ–æ–≤, —Å–æ–∑–¥–∞–Ω–Ω—ã—Ö —Ä–æ—Å—Å–∏–π—Å–∫–æ–π –ø—Ä–æ–ø–∞–≥–∞–Ω–¥–æ–π¬ª. –°—Ç–µ–ø–∞–Ω –ë–∞–Ω–¥–µ—Ä–∞ (1909-1959) –±—ã–ª –æ–¥–Ω–∏–º –∏–∑ –ª–∏–¥–µ—Ä–æ–≤ –û—Ä–≥–∞–Ω–∏–∑–∞—Ü–∏–∏ —É–∫—Ä–∞–∏–Ω—Å–∫–∏—Ö –Ω–∞—Ü–∏–æ–Ω–∞–ª–∏—Å—Ç–æ–≤, –≤—ã—Å—Ç—É–ø–∞—é—â–µ–π –∑–∞ —Å–æ–∑–¥–∞–Ω–∏–µ –Ω–µ–∑–∞–≤–∏—Å–∏–º–æ–≥–æ –≥–æ—Å—É–¥–∞—Ä—Å—Ç–≤–∞ –Ω–∞ —Ç–µ—Ä—Ä–∏—Ç–æ—Ä–∏—è—Ö —Å —É–∫—Ä–∞–∏–Ω–æ—è–∑—ã—á–Ω—ã–º –Ω–∞—Å–µ–ª–µ–Ω–∏–µ–º. –í 2010 –≥–æ–¥—É –≤ –ø–µ—Ä–∏–æ–¥ –ø—Ä–µ–∑–∏–¥–µ–Ω—Ç—Å—Ç–≤–∞ –í–∏–∫—Ç–æ—Ä–∞ –Æ—â–µ–Ω–∫–æ –ë–∞–Ω–¥–µ—Ä–∞ –±—ã–ª –ø–æ—Å–º–µ—Ä—Ç–Ω–æ –ø—Ä–∏–∑–Ω–∞–Ω –ì–µ—Ä–æ–µ–º –£–∫—Ä–∞–∏–Ω—ã, –æ–¥–Ω–∞–∫–æ –≤–ø–æ—Å–ª–µ–¥—Å—Ç–≤–∏–∏ —ç—Ç–æ —Ä–µ—à–µ–Ω–∏–µ –±—ã–ª–æ –æ—Ç–º–µ–Ω–µ–Ω–æ —Å—É–¥–æ–º. ')
doc = nlp('–ï–∫–∞—Ç–µ—Ä–∏–Ω–±—É—Ä–≥')

In [17]:
ner = nlp.get_pipe("ner")

In [18]:
ner.labels

('LOC', 'MISC', 'ORG', 'PER')

In [19]:
%%time
processed = ner(doc)

CPU times: user 3.67 ms, sys: 1.14 ms, total: 4.81 ms
Wall time: 4.53 ms

In [20]:
ner

In [21]:
processed.ents

(–ï–∫–∞—Ç–µ—Ä–∏–Ω–±—É—Ä–≥,)

In [22]:
for ent in processed.ents:
    print(ent.label_)
    print(ent.label)

LOC
385

#### natasha

In [23]:
from natasha import (
    Segmenter,
    MorphVocab,
    
    NewsEmbedding,
    NewsMorphTagger,
    NewsSyntaxParser,
    NewsNERTagger,
    
    PER,
    NamesExtractor,

    Doc
)

In [24]:
segmenter = Segmenter()
morph_vocab = MorphVocab()

emb = NewsEmbedding()
morph_tagger = NewsMorphTagger(emb)
syntax_parser = NewsSyntaxParser(emb)
ner_tagger = NewsNERTagger(emb)

names_extractor = NamesExtractor(morph_vocab)

In [25]:
text = '–ü–æ—Å–æ–ª –ò–∑—Ä–∞–∏–ª—è –Ω–∞ –£–∫—Ä–∞–∏–Ω–µ –ô–æ—ç–ª—å –õ–∏–æ–Ω –ø—Ä–∏–∑–Ω–∞–ª—Å—è, —á—Ç–æ –ø—Ä–∏—à–µ–ª –≤ —à–æ–∫, —É–∑–Ω–∞–≤ –æ —Ä–µ—à–µ–Ω–∏–∏ –≤–ª–∞—Å—Ç–µ–π –õ—å–≤–æ–≤—Å–∫–æ–π –æ–±–ª–∞—Å—Ç–∏ –æ–±—ä—è–≤–∏—Ç—å 2019 –≥–æ–¥ –≥–æ–¥–æ–º –ª–∏–¥–µ—Ä–∞ –∑–∞–ø—Ä–µ—â–µ–Ω–Ω–æ–π –≤ –†–æ—Å—Å–∏–∏ –û—Ä–≥–∞–Ω–∏–∑–∞—Ü–∏–∏ —É–∫—Ä–∞–∏–Ω—Å–∫–∏—Ö –Ω–∞—Ü–∏–æ–Ω–∞–ª–∏—Å—Ç–æ–≤ (–û–£–ù) –°—Ç–µ–ø–∞–Ω–∞ –ë–∞–Ω–¥–µ—Ä—ã. –°–≤–æ–µ –∑–∞—è–≤–ª–µ–Ω–∏–µ –æ–Ω —Ä–∞–∑–º–µ—Å—Ç–∏–ª –≤ Twitter. ¬´–Ø –Ω–µ –º–æ–≥—É –ø–æ–Ω—è—Ç—å, –∫–∞–∫ –ø—Ä–æ—Å–ª–∞–≤–ª–µ–Ω–∏–µ —Ç–µ—Ö, –∫—Ç–æ –Ω–µ–ø–æ—Å—Ä–µ–¥—Å—Ç–≤–µ–Ω–Ω–æ –ø—Ä–∏–Ω–∏–º–∞–ª —É—á–∞—Å—Ç–∏–µ –≤ —É–∂–∞—Å–Ω—ã—Ö –∞–Ω—Ç–∏—Å–µ–º–∏—Ç—Å–∫–∏—Ö –ø—Ä–µ—Å—Ç—É–ø–ª–µ–Ω–∏—è—Ö, –ø–æ–º–æ–≥–∞–µ—Ç –±–æ—Ä–æ—Ç—å—Å—è —Å –∞–Ω—Ç–∏—Å–µ–º–∏—Ç–∏–∑–º–æ–º –∏ –∫—Å–µ–Ω–æ—Ñ–æ–±–∏–µ–π. –£–∫—Ä–∞–∏–Ω–∞ –Ω–µ –¥–æ–ª–∂–Ω–∞ –∑–∞–±—ã–≤–∞—Ç—å –æ –ø—Ä–µ—Å—Ç—É–ø–ª–µ–Ω–∏—è—Ö, —Å–æ–≤–µ—Ä—à–µ–Ω–Ω—ã—Ö –ø—Ä–æ—Ç–∏–≤ —É–∫—Ä–∞–∏–Ω—Å–∫–∏—Ö –µ–≤—Ä–µ–µ–≤, –∏ –Ω–∏–∫–æ–∏–º –æ–±—Ä–∞–∑–æ–º –Ω–µ –æ—Ç–º–µ—á–∞—Ç—å –∏—Ö —á–µ—Ä–µ–∑ –ø–æ—á–∏—Ç–∞–Ω–∏–µ –∏—Ö –∏—Å–ø–æ–ª–Ω–∏—Ç–µ–ª–µ–π¬ª, ‚Äî –Ω–∞–ø–∏—Å–∞–ª –¥–∏–ø–ª–æ–º–∞—Ç. 11 –¥–µ–∫–∞–±—Ä—è –õ—å–≤–æ–≤—Å–∫–∏–π –æ–±–ª–∞—Å—Ç–Ω–æ–π —Å–æ–≤–µ—Ç –ø—Ä–∏–Ω—è–ª —Ä–µ—à–µ–Ω–∏–µ –ø—Ä–æ–≤–æ–∑–≥–ª–∞—Å–∏—Ç—å 2019 –≥–æ–¥ –≤ —Ä–µ–≥–∏–æ–Ω–µ –≥–æ–¥–æ–º –°—Ç–µ–ø–∞–Ω–∞ –ë–∞–Ω–¥–µ—Ä—ã –≤ —Å–≤—è–∑–∏ —Å –ø—Ä–∞–∑–¥–Ω–æ–≤–∞–Ω–∏–µ–º 110-–ª–µ—Ç–∏—è —Å–æ –¥–Ω—è —Ä–æ–∂–¥–µ–Ω–∏—è –ª–∏–¥–µ—Ä–∞ –û–£–ù (–ë–∞–Ω–¥–µ—Ä–∞ —Ä–æ–¥–∏–ª—Å—è 1 —è–Ω–≤–∞—Ä—è 1909 –≥–æ–¥–∞). –í –∏—é–ª–µ –∞–Ω–∞–ª–æ–≥–∏—á–Ω–æ–µ —Ä–µ—à–µ–Ω–∏–µ –ø—Ä–∏–Ω—è–ª –ñ–∏—Ç–æ–º–∏—Ä—Å–∫–∏–π –æ–±–ª–∞—Å—Ç–Ω–æ–π —Å–æ–≤–µ—Ç. –í –Ω–∞—á–∞–ª–µ –º–µ—Å—è—Ü–∞ —Å –ø—Ä–µ–¥–ª–æ–∂–µ–Ω–∏–µ–º –∫ –ø—Ä–µ–∑–∏–¥–µ–Ω—Ç—É —Å—Ç—Ä–∞–Ω—ã –ü–µ—Ç—Ä—É –ü–æ—Ä–æ—à–µ–Ω–∫–æ –≤–µ—Ä–Ω—É—Ç—å –ë–∞–Ω–¥–µ—Ä–µ –∑–≤–∞–Ω–∏–µ –ì–µ—Ä–æ—è –£–∫—Ä–∞–∏–Ω—ã –æ–±—Ä–∞—Ç–∏–ª–∏—Å—å –¥–µ–ø—É—Ç–∞—Ç—ã –í–µ—Ä—Ö–æ–≤–Ω–æ–π –†–∞–¥—ã. –ü–∞—Ä–ª–∞–º–µ–Ω—Ç–∞—Ä–∏–∏ —É–≤–µ—Ä–µ–Ω—ã, —á—Ç–æ –ø—Ä–∏–∑–Ω–∞–Ω–∏–µ –ë–∞–Ω–¥–µ—Ä—ã –Ω–∞—Ü–∏–æ–Ω–∞–ª—å–Ω—ã–º –≥–µ—Ä–æ–µ–º –ø–æ–º–æ–∂–µ—Ç –≤ –±–æ—Ä—å–±–µ —Å –ø–æ–¥—Ä—ã–≤–Ω–æ–π –¥–µ—è—Ç–µ–ª—å–Ω–æ—Å—Ç—å—é –ø—Ä–æ—Ç–∏–≤ –£–∫—Ä–∞–∏–Ω—ã –≤ –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏–æ–Ω–Ω–æ–º –ø–æ–ª–µ, –∞ —Ç–∞–∫–∂–µ –æ—Å—Ç–∞–Ω–æ–≤–∏—Ç ¬´—Ä–∞—Å–ø—Ä–æ—Å—Ç—Ä–∞–Ω–µ–Ω–∏–µ –º–∏—Ñ–æ–≤, —Å–æ–∑–¥–∞–Ω–Ω—ã—Ö —Ä–æ—Å—Å–∏–π—Å–∫–æ–π –ø—Ä–æ–ø–∞–≥–∞–Ω–¥–æ–π¬ª. –°—Ç–µ–ø–∞–Ω –ë–∞–Ω–¥–µ—Ä–∞ (1909-1959) –±—ã–ª –æ–¥–Ω–∏–º –∏–∑ –ª–∏–¥–µ—Ä–æ–≤ –û—Ä–≥–∞–Ω–∏–∑–∞—Ü–∏–∏ —É–∫—Ä–∞–∏–Ω—Å–∫–∏—Ö –Ω–∞—Ü–∏–æ–Ω–∞–ª–∏—Å—Ç–æ–≤, –≤—ã—Å—Ç—É–ø–∞—é—â–µ–π –∑–∞ —Å–æ–∑–¥–∞–Ω–∏–µ –Ω–µ–∑–∞–≤–∏—Å–∏–º–æ–≥–æ –≥–æ—Å—É–¥–∞—Ä—Å—Ç–≤–∞ –Ω–∞ —Ç–µ—Ä—Ä–∏—Ç–æ—Ä–∏—è—Ö —Å —É–∫—Ä–∞–∏–Ω–æ—è–∑—ã—á–Ω—ã–º –Ω–∞—Å–µ–ª–µ–Ω–∏–µ–º. –í 2010 –≥–æ–¥—É –≤ –ø–µ—Ä–∏–æ–¥ –ø—Ä–µ–∑–∏–¥–µ–Ω—Ç—Å—Ç–≤–∞ –í–∏–∫—Ç–æ—Ä–∞ –Æ—â–µ–Ω–∫–æ –ë–∞–Ω–¥–µ—Ä–∞ –±—ã–ª –ø–æ—Å–º–µ—Ä—Ç–Ω–æ –ø—Ä–∏–∑–Ω–∞–Ω –ì–µ—Ä–æ–µ–º –£–∫—Ä–∞–∏–Ω—ã, –æ–¥–Ω–∞–∫–æ –≤–ø–æ—Å–ª–µ–¥—Å—Ç–≤–∏–∏ —ç—Ç–æ —Ä–µ—à–µ–Ω–∏–µ –±—ã–ª–æ –æ—Ç–º–µ–Ω–µ–Ω–æ —Å—É–¥–æ–º. '
doc = Doc(text)

In [26]:
%%time
doc.segment(segmenter)
doc.tag_ner(ner_tagger)

CPU times: user 43.9 ms, sys: 6.62 ms, total: 50.5 ms
Wall time: 53.1 ms

In [27]:
doc.spans

[DocSpan(start=6, stop=13, type='LOC', text='–ò–∑—Ä–∞–∏–ª—è', tokens=[...]),
 DocSpan(start=17, stop=24, type='LOC', text='–£–∫—Ä–∞–∏–Ω–µ', tokens=[...]),
 DocSpan(start=25, stop=35, type='PER', text='–ô–æ—ç–ª—å –õ–∏–æ–Ω', tokens=[...]),
 DocSpan(start=89, stop=106, type='LOC', text='–õ—å–≤–æ–≤—Å–∫–æ–π –æ–±–ª–∞—Å—Ç–∏', tokens=[...]),
 DocSpan(start=152, stop=158, type='LOC', text='–†–æ—Å—Å–∏–∏', tokens=[...]),
 DocSpan(start=159, stop=201, type='ORG', text='–û—Ä–≥–∞–Ω–∏–∑–∞—Ü–∏–∏ —É–∫—Ä–∞–∏–Ω—Å–∫–∏—Ö –Ω–∞—Ü–∏–æ–Ω–∞–ª–∏—Å—Ç–æ–≤ (–û–£–ù)', tokens=[...]),
 DocSpan(start=202, stop=217, type='PER', text='–°—Ç–µ–ø–∞–Ω–∞ –ë–∞–Ω–¥–µ—Ä—ã', tokens=[...]),
 DocSpan(start=249, stop=256, type='ORG', text='Twitter', tokens=[...]),
 DocSpan(start=425, stop=432, type='LOC', text='–£–∫—Ä–∞–∏–Ω–∞', tokens=[...]),
 DocSpan(start=604, stop=629, type='ORG', text='–õ—å–≤–æ–≤—Å–∫–∏–π –æ–±–ª–∞—Å—Ç–Ω–æ–π —Å–æ–≤–µ—Ç', tokens=[...]),
 DocSpan(start=684, stop=699, type='PER', text='–°—Ç–µ–ø–∞–Ω–∞ –ë–∞–Ω–¥–µ—Ä—ã', tokens=[...]),
 DocSpan(start=757, stop=760, type='ORG', text='–û–£–ù', tokens=[...]),
 DocSpan(start=833, stop=860, type='ORG', text='–ñ–∏—Ç–æ–º–∏—Ä—Å–∫–∏–π –æ–±–ª–∞—Å—Ç–Ω–æ–π —Å–æ–≤–µ—Ç', tokens=[...]),
 DocSpan(start=913, stop=928, type='PER', text='–ü–µ—Ç—Ä—É –ü–æ—Ä–æ—à–µ–Ω–∫–æ', tokens=[...]),
 DocSpan(start=937, stop=944, type='PER', text='–ë–∞–Ω–¥–µ—Ä–µ', tokens=[...]),
 DocSpan(start=958, stop=965, type='LOC', text='–£–∫—Ä–∞–∏–Ω—ã', tokens=[...]),
 DocSpan(start=986, stop=1000, type='ORG', text='–í–µ—Ä—Ö–æ–≤–Ω–æ–π –†–∞–¥—ã', tokens=[...]),
 DocSpan(start=1039, stop=1046, type='PER', text='–ë–∞–Ω–¥–µ—Ä—ã', tokens=[...]),
 DocSpan(start=1117, stop=1124, type='LOC', text='–£–∫—Ä–∞–∏–Ω—ã', tokens=[...]),
 DocSpan(start=1225, stop=1239, type='PER', text='–°—Ç–µ–ø–∞–Ω –ë–∞–Ω–¥–µ—Ä–∞', tokens=[...]),
 DocSpan(start=1273, stop=1309, type='ORG', text='–û—Ä–≥–∞–Ω–∏–∑–∞—Ü–∏–∏ —É–∫—Ä–∞–∏–Ω—Å–∫–∏—Ö –Ω–∞—Ü–∏–æ–Ω–∞–ª–∏—Å—Ç–æ–≤', tokens=[...]),
 DocSpan(start=1439, stop=1453, type='PER', text='–í–∏–∫—Ç–æ—Ä–∞ –Æ—â–µ–Ω–∫–æ', tokens=[...]),
 DocSpan(start=1454, stop=1461, type='PER', text='–ë–∞–Ω–¥–µ—Ä–∞', tokens=[...]),
 DocSpan(start=1491, stop=1498, type='LOC', text='–£–∫—Ä–∞–∏–Ω—ã', tokens=[...])]

In [28]:
doc.ner.print()

–ü–æ—Å–æ–ª –ò–∑—Ä–∞–∏–ª—è –Ω–∞ –£–∫—Ä–∞–∏–Ω–µ –ô–æ—ç–ª—å –õ–∏–æ–Ω –ø—Ä–∏–∑–Ω–∞–ª—Å—è, —á—Ç–æ –ø—Ä–∏—à–µ–ª –≤ —à–æ–∫, —É–∑–Ω–∞–≤
      LOC‚îÄ‚îÄ‚îÄ‚îÄ    LOC‚îÄ‚îÄ‚îÄ‚îÄ PER‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ
 –æ —Ä–µ—à–µ–Ω–∏–∏ –≤–ª–∞—Å—Ç–µ–π –õ—å–≤–æ–≤—Å–∫–æ–π –æ–±–ª–∞—Å—Ç–∏ –æ–±—ä—è–≤–∏—Ç—å 2019 –≥–æ–¥ –≥–æ–¥–æ–º –ª–∏–¥–µ—Ä–∞
                   LOC‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ
–∑–∞–ø—Ä–µ—â–µ–Ω–Ω–æ–π –≤ –†–æ—Å—Å–∏–∏ –û—Ä–≥–∞–Ω–∏–∑–∞—Ü–∏–∏ —É–∫—Ä–∞–∏–Ω—Å–∫–∏—Ö –Ω–∞—Ü–∏–æ–Ω–∞–ª–∏—Å—Ç–æ–≤ (–û–£–ù)
              LOC‚îÄ‚îÄ‚îÄ ORG‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ
–°—Ç–µ–ø–∞–Ω–∞ –ë–∞–Ω–¥–µ—Ä—ã. –°–≤–æ–µ –∑–∞—è–≤–ª–µ–Ω–∏–µ –æ–Ω —Ä–∞–∑–º–µ—Å—Ç–∏–ª –≤ Twitter. ¬´–Ø –Ω–µ –º–æ–≥—É
PER‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ                                ORG‚îÄ‚îÄ‚îÄ‚îÄ
–ø–æ–Ω—è—Ç—å, –∫–∞–∫ –ø—Ä–æ—Å–ª–∞–≤–ª–µ–Ω–∏–µ —Ç–µ—Ö, –∫—Ç–æ –Ω–µ–ø–æ—Å—Ä–µ–¥—Å—Ç–≤–µ–Ω–Ω–æ –ø—Ä–∏–Ω–∏–º–∞–ª —É—á–∞—Å—Ç–∏–µ –≤
—É–∂–∞—Å–Ω—ã—Ö –∞–Ω—Ç–∏—Å–µ–º–∏—Ç—Å–∫–∏—Ö –ø—Ä–µ—Å—Ç—É–ø–ª–µ–Ω–∏—è—Ö, –ø–æ–º–æ–≥–∞–µ—Ç –±–æ—Ä–æ—Ç—å—Å—è —Å
–∞–Ω—Ç–∏—Å–µ–º–∏—Ç–∏–∑–º–æ–º –∏ –∫—Å–µ–Ω–æ—Ñ–æ–±–∏–µ–π. –£–∫—Ä–∞–∏–Ω–∞ –Ω–µ –¥–æ–ª–∂–Ω–∞ –∑–∞–±—ã–≤–∞—Ç—å –æ
                              LOC‚îÄ‚îÄ‚îÄ‚îÄ
–ø—Ä–µ—Å—Ç—É–ø–ª–µ–Ω–∏—è—Ö, —Å–æ–≤–µ—Ä—à–µ–Ω–Ω—ã—Ö –ø—Ä–æ—Ç–∏–≤ —É–∫—Ä–∞–∏–Ω—Å–∫–∏—Ö –µ–≤—Ä–µ–µ–≤, –∏ –Ω–∏–∫–æ–∏–º –æ–±—Ä–∞–∑–æ–º
–Ω–µ –æ—Ç–º–µ—á–∞—Ç—å –∏—Ö —á–µ—Ä–µ–∑ –ø–æ—á–∏—Ç–∞–Ω–∏–µ –∏—Ö –∏—Å–ø–æ–ª–Ω–∏—Ç–µ–ª–µ–π¬ª, ‚Äî –Ω–∞–ø–∏—Å–∞–ª –¥–∏–ø–ª–æ–º–∞—Ç.
11 –¥–µ–∫–∞–±—Ä—è –õ—å–≤–æ–≤—Å–∫–∏–π –æ–±–ª–∞—Å—Ç–Ω–æ–π —Å–æ–≤–µ—Ç –ø—Ä–∏–Ω—è–ª —Ä–µ—à–µ–Ω–∏–µ –ø—Ä–æ–≤–æ–∑–≥–ª–∞—Å–∏—Ç—å 2019
           ORG‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ
 –≥–æ–¥ –≤ —Ä–µ–≥–∏–æ–Ω–µ –≥–æ–¥–æ–º –°—Ç–µ–ø–∞–Ω–∞ –ë–∞–Ω–¥–µ—Ä—ã –≤ —Å–≤—è–∑–∏ —Å –ø—Ä–∞–∑–¥–Ω–æ–≤–∞–Ω–∏–µ–º 110-–ª–µ—Ç–∏—è
                     PER‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ
 —Å–æ –¥–Ω—è —Ä–æ–∂–¥–µ–Ω–∏—è –ª–∏–¥–µ—Ä–∞ –û–£–ù (–ë–∞–Ω–¥–µ—Ä–∞ —Ä–æ–¥–∏–ª—Å—è 1 —è–Ω–≤–∞—Ä—è 1909 –≥–æ–¥–∞). –í
                        ORG
–∏—é–ª–µ –∞–Ω–∞–ª–æ–≥–∏—á–Ω–æ–µ —Ä–µ—à–µ–Ω–∏–µ –ø—Ä–∏–Ω—è–ª –ñ–∏—Ç–æ–º–∏—Ä—Å–∫–∏–π –æ–±–ª–∞—Å—Ç–Ω–æ–π —Å–æ–≤–µ—Ç. –í –Ω–∞—á–∞–ª–µ
                                ORG‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ
–º–µ—Å—è—Ü–∞ —Å –ø—Ä–µ–¥–ª–æ–∂–µ–Ω–∏–µ–º –∫ –ø—Ä–µ–∑–∏–¥–µ–Ω—Ç—É —Å—Ç—Ä–∞–Ω—ã –ü–µ—Ç—Ä—É –ü–æ—Ä–æ—à–µ–Ω–∫–æ –≤–µ—Ä–Ω—É—Ç—å
                                          PER‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ
–ë–∞–Ω–¥–µ—Ä–µ –∑–≤–∞–Ω–∏–µ –ì–µ—Ä–æ—è –£–∫—Ä–∞–∏–Ω—ã –æ–±—Ä–∞—Ç–∏–ª–∏—Å—å –¥–µ–ø—É—Ç–∞—Ç—ã –í–µ—Ä—Ö–æ–≤–Ω–æ–π –†–∞–¥—ã.
PER‚îÄ‚îÄ‚îÄ‚îÄ              LOC‚îÄ‚îÄ‚îÄ‚îÄ                     ORG‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ
–ü–∞—Ä–ª–∞–º–µ–Ω—Ç–∞—Ä–∏–∏ —É–≤–µ—Ä–µ–Ω—ã, —á—Ç–æ –ø—Ä–∏–∑–Ω–∞–Ω–∏–µ –ë–∞–Ω–¥–µ—Ä—ã –Ω–∞—Ü–∏–æ–Ω–∞–ª—å–Ω—ã–º –≥–µ—Ä–æ–µ–º
                                     PER‚îÄ‚îÄ‚îÄ‚îÄ
–ø–æ–º–æ–∂–µ—Ç –≤ –±–æ—Ä—å–±–µ —Å –ø–æ–¥—Ä—ã–≤–Ω–æ–π –¥–µ—è—Ç–µ–ª—å–Ω–æ—Å—Ç—å—é –ø—Ä–æ—Ç–∏–≤ –£–∫—Ä–∞–∏–Ω—ã –≤
                                                  LOC‚îÄ‚îÄ‚îÄ‚îÄ
–∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏–æ–Ω–Ω–æ–º –ø–æ–ª–µ, –∞ —Ç–∞–∫–∂–µ –æ—Å—Ç–∞–Ω–æ–≤–∏—Ç ¬´—Ä–∞—Å–ø—Ä–æ—Å—Ç—Ä–∞–Ω–µ–Ω–∏–µ –º–∏—Ñ–æ–≤,
—Å–æ–∑–¥–∞–Ω–Ω—ã—Ö —Ä–æ—Å—Å–∏–π—Å–∫–æ–π –ø—Ä–æ–ø–∞–≥–∞–Ω–¥–æ–π¬ª. –°—Ç–µ–ø–∞–Ω –ë–∞–Ω–¥–µ—Ä–∞ (1909-1959) –±—ã–ª
                                   PER‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ
–æ–¥–Ω–∏–º –∏–∑ –ª–∏–¥–µ—Ä–æ–≤ –û—Ä–≥–∞–Ω–∏–∑–∞—Ü–∏–∏ —É–∫—Ä–∞–∏–Ω—Å–∫–∏—Ö –Ω–∞—Ü–∏–æ–Ω–∞–ª–∏—Å—Ç–æ–≤, –≤—ã—Å—Ç—É–ø–∞—é—â–µ–π –∑–∞
                 ORG‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ
—Å–æ–∑–¥–∞–Ω–∏–µ –Ω–µ–∑–∞–≤–∏—Å–∏–º–æ–≥–æ –≥–æ—Å—É–¥–∞—Ä—Å—Ç–≤–∞ –Ω–∞ —Ç–µ—Ä—Ä–∏—Ç–æ—Ä–∏—è—Ö —Å —É–∫—Ä–∞–∏–Ω–æ—è–∑—ã—á–Ω—ã–º
–Ω–∞—Å–µ–ª–µ–Ω–∏–µ–º. –í 2010 –≥–æ–¥—É –≤ –ø–µ—Ä–∏–æ–¥ –ø—Ä–µ–∑–∏–¥–µ–Ω—Ç—Å—Ç–≤–∞ –í–∏–∫—Ç–æ—Ä–∞ –Æ—â–µ–Ω–∫–æ –ë–∞–Ω–¥–µ—Ä–∞
                                               PER‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ PER‚îÄ‚îÄ‚îÄ‚îÄ
–±—ã–ª –ø–æ—Å–º–µ—Ä—Ç–Ω–æ –ø—Ä–∏–∑–Ω–∞–Ω –ì–µ—Ä–æ–µ–º –£–∫—Ä–∞–∏–Ω—ã, –æ–¥–Ω–∞–∫–æ –≤–ø–æ—Å–ª–µ–¥—Å—Ç–≤–∏–∏ —ç—Ç–æ —Ä–µ—à–µ–Ω–∏–µ
                             LOC‚îÄ‚îÄ‚îÄ‚îÄ
–±—ã–ª–æ –æ—Ç–º–µ–Ω–µ–Ω–æ —Å—É–¥–æ–º.

spaCy –±—ã—Å—Ç—Ä–µ–µ => –∏—Å–ø–æ–ª—å–∑—É–µ–º spaCY

#### NER —Ñ—É–Ω–∫—Ü–∏—è

In [29]:
import spacy

def NER(dataframe):
    df = dataframe.copy()
#     nlp_ru = spacy.load('ru_core_news_sm')
#     ner_ru = nlp_ru.get_pipe("ner")
    nlp_xx = spacy.load('xx_ent_wiki_sm')
    ner_xx = nlp_xx.get_pipe("ner")
    useful_NER_labels = ['LOC']
    changed_values_count = 0
    for i,row in df.iterrows() :
        if row.location == '':
            continue
        if row.location in abbHistoryDict:
            continue
        
#         doc_ru = nlp_ru('Ur Statue of liberty mama is a London hoe')
#         processed_ru = ner_ru(doc_ru)
        doc_xx = nlp_xx(row.location)
        processed_xx = ner_xx(doc_xx)
        
        for ent in processed_xx.ents:
            if (ent.label_ in useful_NER_labels):
                formatted_location = nominatimQueryToCountryCode(str(ent))
                if formatted_location :
                    
                    abbHistoryDict[formatted_location] = formatted_location
                    abbHistoryDict[str(ent)] = formatted_location
                    
                    df.iloc[i].location = formatted_location
                    changed_values_count += 1
                    break
                    
    changed_values_percent = changed_values_count/len(df)
    return df , changed_values_percent

In [30]:
%%time
NERresDF, changed_with_NER_percent = NER(obviousDF)

CPU times: user 3.13 s, sys: 398 ms, total: 3.53 s
Wall time: 36.1 s

In [31]:
changed_with_NER_percent

0.07236842105263158

In [158]:
import numpy as np

In [161]:
np.savetxt('test2',NERresDF.loc[:,['username']].values.flatten(), delimiter='/n',fmt='%s')

In [32]:
NERresDF.loc[~NERresDF.location.apply(lambda x: x in abbHistoryDict)&(NERresDF.location != '')]

            username                        location
8           soulkhan                      cool world
13     probattle_rap                         hip-hop
19        RISKYROADZ                 The grime scene
20         grimegran                   Bethnal Green
27         djino1000                       –Ω–∞ —Ä–∞–π–æ–Ω–µ
32       RapSkillzMK  Former Yugoslav Republic of Ma
34          shumm322                       On My Way
43      DavidVujanic                    THE UNIVERSE
50       jubileewins          your girlfriend's mind
60     wearefilmgods                        Universe
78        atmosphere                  Minneappleseed
83         DNA_GTFOH               DNA Clothing üîΩüîΩüîΩüîΩ
89          tierstar                          BERLIN
94         1djunique          √úT: 51.519438,0.171234
96           Aspektz                     #NextLevel
101         Evidence                     Unlearning
113        ThekidJ_c                         yaktown
117      hollowdadon             Frequency ¬£8‚óè6g9„Äã¬∞‚Ç©
120      MickeyFactz                IG: Mickey.Factz
122         Vada_Fly                        Up there
124          rapgrid              Worldwide Movement
125            Drect                    The Internet
128    iamFemiConfam                    Worldwide!!!
136      iamblizzard                             BL9
139     KingOfTheDot                       Worldwide
141         daylyt30                         Argatha
144       MorraYarty                         Saint P
147      vlonesmooky                         batcave
158        McKayFelt                         ‚óèearth‚óã
160      CaughtAStar                       The World
167       LittleSimz                    North London
194    GeniqOfficial       Somewhere in the Universe
196     BreezeyMuzik                 anotherplan3tüí´üåä
198          RipBeat                       –õ—É–∑–µ—Ä–≤–∏–ª—å
201      youloveidan                     RIX/LDN/SPB
211      jetvillains    —Ç–≤–æ—ë —Å–µ—Ä–¥–µ—á–∫–æ, –Ω–æ –≤–æ–æ–±—â–µ –º—Å–∫
218       FUNKFORMER                    moscow-disco
224        NaumBleek                    –ï–∫–∞—Ç–µ—Ä–∏–Ω–±—É—Ä–≥
225   alexanderclare                            NW11
238  StephenLeeClark                    The gridiron
245  bastaakanoggano              –ë–∞—Å—Ç–∞ –≤ –õ—É–∂–Ω–∏–∫–∞—Ö!
250   amatorystewart    stage/studio/bus/train/plane
260       JESSEMMURE     iPhone: 54.970268,-1.618102
263   escvpe_fashion                     L.O.N.D.O.N
283      DenLuperkal     —Å–Ω–µ–∂–Ω–∞—è –ª–æ–≤—É—à–∫–∞ –±–µ–∑–≤—Ä–µ–º–µ–Ω—å—è
291          kekcoff               london south east
303   JahnaSebastian              The Planet Jahnius

In [165]:
pd.read_csv('test2', header=None, names = ['username','location'])

            username  location
0     IKONASTILYA420       NaN
1               St1m       NaN
2      brucefranksjr       NaN
3    RuslanSoluyanov       NaN
4          kyok_quok       NaN
..               ...       ...
299      GalinaVyday       NaN
300           akatov       NaN
301       MARKMARKUL       NaN
302             grju       NaN
303   JahnaSebastian       NaN

[304 rows x 2 columns]

In [ ]:
# chdf = pd.read_csv('test_names_list.csv', header=None, names = ['username','location'])
# chdf = chdf.fillna('')
# chdf

In [ ]:
# chdf.location = chdf.apply(lambda row: getUserInfo(row['username'])['location'],axis = 1)
# chdf

In [98]:
# import pickle

In [ ]:
# abbHistoryDict = {}

In [ ]:
# pickle.dump(abbHistoryDict, open('abbHistoryDict.p', 'wb'))

In [ ]:
# abbHistoryDict = pd.read_pickle('abbHistoryDict.p')

In [ ]:
# abbHistoryDict

In [ ]:
# NERresDF

In [ ]:
NERresDF.loc[NERresDF.location == 'br']

In [ ]:
konyaev_fans.iloc[134]

In [76]:
def letters(input):
    return ''.join(filter(str.isalpha, input))

In [119]:
countries_codes_df = pd.read_pickle('alpha2_alpha3_dict.p')

In [148]:
counted_unique_df = NERresDF.groupby('location')['username'].nunique()

In [149]:
counted_unique_df = counted_unique_df.loc[pd.Series(counted_unique_df.keys()).apply(lambda x: x in abbHistoryDict).to_list()]
counted_unique_df = pd.DataFrame(counted_unique_df)
counted_unique_df = counted_unique_df.assign(ISO3=pd.Series(counted_unique_df.index).apply(lambda x: countries_codes_df[x.upper()]).values)
counted_unique_df = counted_unique_df.assign(proportion=pd.Series(counted_unique_df['username'].apply(lambda x: x/counted_unique_df['username'].sum())).values)
counted_unique_df

          username ISO3  proportion
location
au               1  AUS    0.005780
br               1  BRA    0.005780
by               1  BLR    0.005780
ca               7  CAN    0.040462
cz               2  CZE    0.011561
de               3  DEU    0.017341
es               1  ESP    0.005780
fi               1  FIN    0.005780
fr               3  FRA    0.017341
gb              42  GBR    0.242775
hr               1  HRV    0.005780
il               1  ISR    0.005780
ma               1  MAR    0.005780
nl               1  NLD    0.005780
ph               1  PHL    0.005780
pk               1  PAK    0.005780
pl               1  POL    0.005780
pt               1  PRT    0.005780
ru              74  RUS    0.427746
sk               1  SVK    0.005780
ua               3  UKR    0.017341
us              25  USA    0.144509

In [147]:
proportion_unique_df = pd.Series(counted_unique_df['username'].apply(lambda x: x/counted_unique_df['username'].sum()))
proportion_unique_df

location
au    0.005780
br    0.005780
by    0.005780
ca    0.040462
cz    0.011561
de    0.017341
es    0.005780
fi    0.005780
fr    0.017341
gb    0.242775
hr    0.005780
il    0.005780
ma    0.005780
nl    0.005780
ph    0.005780
pk    0.005780
pl    0.005780
pt    0.005780
ru    0.427746
sk    0.005780
ua    0.017341
us    0.144509
Name: username, dtype: float64

In [145]:
counted_unique_df.to_dict(orient='records')

[{'username': 1, 'ISO3': 'AUS'},
 {'username': 1, 'ISO3': 'BRA'},
 {'username': 1, 'ISO3': 'BLR'},
 {'username': 7, 'ISO3': 'CAN'},
 {'username': 2, 'ISO3': 'CZE'},
 {'username': 3, 'ISO3': 'DEU'},
 {'username': 1, 'ISO3': 'ESP'},
 {'username': 1, 'ISO3': 'FIN'},
 {'username': 3, 'ISO3': 'FRA'},
 {'username': 42, 'ISO3': 'GBR'},
 {'username': 1, 'ISO3': 'HRV'},
 {'username': 1, 'ISO3': 'ISR'},
 {'username': 1, 'ISO3': 'MAR'},
 {'username': 1, 'ISO3': 'NLD'},
 {'username': 1, 'ISO3': 'PHL'},
 {'username': 1, 'ISO3': 'PAK'},
 {'username': 1, 'ISO3': 'POL'},
 {'username': 1, 'ISO3': 'PRT'},
 {'username': 74, 'ISO3': 'RUS'},
 {'username': 1, 'ISO3': 'SVK'},
 {'username': 3, 'ISO3': 'UKR'},
 {'username': 25, 'ISO3': 'USA'}]

In [168]:
df1 = pd.read_csv('test2', header=None, names = ['username','location'])
df1 = df1.fillna('')
# df.location = df.apply(lambda row: getUserInfo(row['username'])['location'],axis = 1)
df1

            username location
0     IKONASTILYA420
1               St1m
2      brucefranksjr
3    RuslanSoluyanov
4          kyok_quok
..               ...      ...
299      GalinaVyday
300           akatov
301       MARKMARKUL
302             grju
303   JahnaSebastian

[304 rows x 2 columns]

In [167]:
df

            username                location
0     IKONASTILYA420                  –ú–æ—Å–∫–≤–∞
1               St1m                  Moscow
2      brucefranksjr            Arizona, USA
3    RuslanSoluyanov
4          kyok_quok  Prague, Czech Republic
..               ...                     ...
299      GalinaVyday                  London
300           akatov                  London
301       MARKMARKUL  Greater London, London
302             grju
303   JahnaSebastian      The Planet Jahnius

[304 rows x 2 columns]