In [1]:
import requests
import json
import pandas as pd

## Useр

In [169]:
def getUserInfoResponse(username):
#     input (string): username 
#     output (string): JSON response
    url = f"https://twitter.com/i/api/graphql/hc-pka9A7gyS3xODIafnrQ/UserByScreenName?variables=%7B%22screen_name%22%3A%22{username}%22%2C%22withHighlightedLabel%22%3Atrue%7D"
    payload={}
    headers = {
      'Content-Type': 'application/json',
      'Accept': '*/*',
      'Authorization': 'Bearer AAAAAAAAAAAAAAAAAAAAANRILgAAAAAAnNwIzUejRCOuH5E6I8xnZz4puTs%3D1Zv7ttfk8LF81IUq16cHjhLTvJu4FA33AGWWjCpTnA',
      'Accept-Encoding': 'gzip, deflate, br',
      'Accept-Language': 'en-gb',
      'Host': 'twitter.com',
      'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_6) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/14.0.2 Safari/605.1.15',
      'Connection': 'keep-alive',
      'Cookie': '_ga=GA1.2.1728120664.1614803046; _gid=GA1.2.959135695.1615041021; twid=u%3D1081284009823555584; lang=en; cd_user_id=177fcea35ad4f9-0146a181011fb8-48183201-13c680-177fcea35aea98; mbox=PC#5af5d131a3d8457eadff08a61d6501cc.38_0#1678100743|session#024ba0a521df4ae082d6bc2f0809dfc0#1614857802; external_referer=padhuUp37zj9xuUOXCNFvIbxLqKGGEyN|0|8e8t2xd8A2w%3D; des_opt_in=Y; ads_prefs="HBISAAA="; auth_token=015a5acdf5578ba8c16b2fe4ff9c53eb3b25d175; ct0=4eaea07b1ba828f9bf8a1c4fe5487c7b51cf702852445725432915052ea7b90d255860d9562695b66b69ce17ed8460abf5cc846c715c6f0445ff66b4ff09d2b4cd992445f177ea58458b9aef42ae7c8c; dnt=1; kdt=A0C41bULaFlaBKVxvmWf9ssbbHSRa7M6Tl8k26aS; remember_checked_on=1; guest_id=v1%3A161418947273669233; personalization_id="v1_3OfRfaPwtHPmzeXO7foP0g=="',
      'x-twitter-active-user': 'yes',
      'x-twitter-client-language': 'en',
      'x-csrf-token': '4eaea07b1ba828f9bf8a1c4fe5487c7b51cf702852445725432915052ea7b90d255860d9562695b66b69ce17ed8460abf5cc846c715c6f0445ff66b4ff09d2b4cd992445f177ea58458b9aef42ae7c8c',
      'x-twitter-auth-type': 'OAuth2Session'
    }
    
    response = requests.request("GET", url, headers=headers, data=payload)
    
    if json.loads(response.text)['data'] == {}:
        raise ValueError('Wrong username!')
        return None
    
    return response

In [170]:
def getUserInfo(username):
#     input (string): username
#     output (dict)
    
    response = getUserInfoResponse(username)
    
    if response == None:
        return None
    
    data = json.loads(response.text)
    
    info = {}
    
    info['username'] = username
    info['rest_id'] = data['data']['user']['rest_id']
    info['location'] = data['data']['user']['legacy']['location']
    
    
    return info

In [172]:
# data = getUserInfo('a_konyaev')
# data['data']['user']
# data
getUserInfo('a_konyaev')

{'username': 'a_konyaev', 'rest_id': '519499050', 'location': 'Moscow, Russia'}

## Followerы

In [5]:
def getUserFollowingResponse(rest_id, following_count = 15000):
    urlFollowing = f"https://twitter.com/i/api/graphql/taJbMVFxNBcULs8aHwX3cg/Following?variables=%7B%22userId%22%3A%22{rest_id}%22%2C%22count%22%3A{str(following_count)}%2C%22withHighlightedLabel%22%3Afalse%2C%22withTweetQuoteCount%22%3Afalse%2C%22includePromotedContent%22%3Afalse%2C%22withTweetResult%22%3Afalse%2C%22withUserResults%22%3Afalse%2C%22withNonLegacyCard%22%3Atrue%7D"
    payload={}
    headers = {
      'Content-Type': 'application/json',
      'Accept': '*/*',
      'Authorization': 'Bearer AAAAAAAAAAAAAAAAAAAAANRILgAAAAAAnNwIzUejRCOuH5E6I8xnZz4puTs%3D1Zv7ttfk8LF81IUq16cHjhLTvJu4FA33AGWWjCpTnA',
      'Accept-Encoding': 'gzip, deflate, br',
      'Accept-Language': 'en-gb',
      'Host': 'twitter.com',
      'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_6) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/14.0.2 Safari/605.1.15',
      'Connection': 'keep-alive',
      'Cookie': '_ga=GA1.2.1728120664.1614803046; _gid=GA1.2.959135695.1615041021; twid=u%3D1081284009823555584; lang=en; cd_user_id=177fcea35ad4f9-0146a181011fb8-48183201-13c680-177fcea35aea98; mbox=PC#5af5d131a3d8457eadff08a61d6501cc.38_0#1678100743|session#024ba0a521df4ae082d6bc2f0809dfc0#1614857802; external_referer=padhuUp37zj9xuUOXCNFvIbxLqKGGEyN|0|8e8t2xd8A2w%3D; des_opt_in=Y; ads_prefs="HBISAAA="; auth_token=015a5acdf5578ba8c16b2fe4ff9c53eb3b25d175; ct0=4eaea07b1ba828f9bf8a1c4fe5487c7b51cf702852445725432915052ea7b90d255860d9562695b66b69ce17ed8460abf5cc846c715c6f0445ff66b4ff09d2b4cd992445f177ea58458b9aef42ae7c8c; dnt=1; kdt=A0C41bULaFlaBKVxvmWf9ssbbHSRa7M6Tl8k26aS; remember_checked_on=1; guest_id=v1%3A161418947273669233; personalization_id="v1_3OfRfaPwtHPmzeXO7foP0g=="',
      'x-twitter-active-user': 'yes',
      'x-twitter-client-language': 'en',
      'x-csrf-token': '4eaea07b1ba828f9bf8a1c4fe5487c7b51cf702852445725432915052ea7b90d255860d9562695b66b69ce17ed8460abf5cc846c715c6f0445ff66b4ff09d2b4cd992445f177ea58458b9aef42ae7c8c',
      'x-twitter-auth-type': 'OAuth2Session'
    }
    
    response = requests.request("GET", urlFollowing, headers=headers, data=payload)
    
    if 'data' not in json.loads(response.text).keys():
        raise ValueError('Wrong REST id!')
        return None
    
    if {} == json.loads(response.text)['data']['user']['following_timeline']:
        raise ValueError('Wrong REST id!')
        return None
    
#     data = json.loads(response.text)
    
    return response

In [6]:
def getUserFollowing(rest_id):
    
    response = getUserFollowingResponse(rest_id)
    
    if response == None:
        return None
    
    data = json.loads(response.text)
    data = data['data']['user']['following_timeline']['timeline']['instructions'][len(data['data']['user']['following_timeline']['timeline']['instructions'])-1]['entries'][:-2]
    
    followingSeries = pd.DataFrame(data).content.apply(lambda x: [
        x['itemContent']['user']['rest_id'],
        x['itemContent']['user']['legacy']['screen_name'],
        x['itemContent']['user']['legacy']['name'],
        x['itemContent']['user']['legacy']['location']
    ])
    
    followingDF = pd.DataFrame.from_dict(dict(zip(followingSeries.index, followingSeries.values))).T
    followingDF.columns = pd.Index(['rest_id','username','public_name', 'location'])
    
    return followingDF

In [7]:
data = getUserFollowing('111425302')

konyaev_fans = pd.read_json(data.to_json()).loc[:,['username','location']]
konyaev_fans

            username                location
0     IKONASTILYA420                  Москва
1               St1m                  Moscow
2      brucefranksjr            Arizona, USA
3    RuslanSoluyanov
4          kyok_quok  Prague, Czech Republic
..               ...                     ...
299      GalinaVyday                  London
300           akatov                  London
301       MARKMARKUL  Greater London, London
302             grju
303   JahnaSebastian      The Planet Jahnius

[304 rows x 2 columns]

## Смотрим ответы от API

In [8]:
def nominatimQueryToCountryCode(q):
    response_search = requests.request("GET", f"https://nominatim.openstreetmap.org/search?q={q.replace('#', '')}&format=json")
    response_search_json = json.loads(response_search.text)
    if response_search_json:
        try:
            response_details = requests.request("GET", f"https://nominatim.openstreetmap.org/details?osmtype=R&osmid={response_search_json[0]['osm_id']}&format=json")
        except KeyError:
            return None
    else:
        return None
    response_details_json = json.loads(response_details.text)
    if 'error' in response_details_json:
        return None
    return response_details_json['country_code']

In [9]:
nominatimQueryToCountryCode('Екатеринбург')

Обрабатываем DF с username'ами и location'ами

In [10]:
abbHistoryDict = {}

In [11]:
def formatObviousLocations(df):
    dataframe = df.copy()
    changed_locations_count = 0
    empty_locations_count = 0
    for i,row in dataframe.iterrows():
        
        if row.location == '':
            empty_locations_count += 1
            continue
        if not row.location:
            empty_locations_count += 1
            continue
        
        if not row.location in abbHistoryDict:
            formatted_location = nominatimQueryToCountryCode(row.location)
            if formatted_location:
                abbHistoryDict[formatted_location] = formatted_location
                abbHistoryDict[row.location] = formatted_location

                dataframe.iloc[i].location = formatted_location
                changed_locations_count += 1
        else:
            dataframe.iloc[i].location = abbHistoryDict[row.location]
            changed_locations_count += 1
    
    changed_locations_percent = changed_locations_count/len(dataframe)
    empty_locations_percent = empty_locations_count/len(dataframe)
    
    return dataframe, changed_locations_percent, empty_locations_percent

In [12]:
%%time
obviousDF, changed_locations_percent, empty_locations_percent = formatObviousLocations(konyaev_fans)

CPU times: user 4.84 s, sys: 401 ms, total: 5.24 s
Wall time: 2min 20s

In [13]:
abbHistoryDict

{'ru': 'ru',
 'Москва': 'ru',
 'Moscow': 'ru',
 'us': 'us',
 'Arizona, USA': 'us',
 'cz': 'cz',
 'Prague, Czech Republic': 'cz',
 'Москва, Россия': 'ru',
 'Odintsovo (M.O. Russia)': 'ru',
 'ca': 'ca',
 'Canada': 'ca',
 'de': 'de',
 'Germany': 'de',
 'gb': 'gb',
 'London': 'gb',
 'Moscow, Russia': 'ru',
 'Saint Petersburg, Russia': 'ru',
 'Los Angeles': 'us',
 'pk': 'pk',
 'Pakistan': 'pk',
 'ph': 'ph',
 'Republic of the Philippines': 'ph',
 'hr': 'hr',
 'Republic of Croatia': 'hr',
 'Detroit': 'us',
 'Russia, Moscow': 'ru',
 'United Kingdom': 'gb',
 'Владимир, Россия': 'ru',
 'Norwich England': 'gb',
 'Volgograd, Russia': 'ru',
 'ma': 'ma',
 'Morocco': 'ma',
 'NYC': 'us',
 'Санкт-Петербург, Россия': 'ru',
 'Oakland, CA': 'us',
 'Stockton, CA': 'us',
 'Ростов-на-Дону, Россия': 'ru',
 'es': 'es',
 'Catalonia, Spain': 'es',
 'UK': 'gb',
 'Brooklyn': 'us',
 'ua': 'ua',
 'Kiev, Ukraine': 'ua',
 'Kyiv, Ukraine': 'ua',
 'Portland': 'us',
 'Rostov-on-Don': 'ru',
 'Россия, Краснодар': 'ru',
 'Krasnodar': 'ru',
 'Los Angeles, CA': 'us',
 'New York': 'us',
 'Russian Federation': 'ru',
 'United States': 'us',
 'Saint-Petersburg': 'ru',
 'Toronto, Ontario': 'ca',
 'Philadelphia, PA': 'us',
 'New York, NY': 'us',
 'Manchester': 'gb',
 'br': 'br',
 'Israelândia, Brasil': 'br',
 'Manchester, England': 'gb',
 'sk': 'sk',
 'Гольяново': 'sk',
 'Toronto': 'ca',
 'Russia': 'ru',
 'Одесса': 'ua',
 'by': 'by',
 'Черниковка': 'by',
 'Rostov-On-Don, Russia': 'ru',
 'Oxford, England': 'gb',
 'St-Petersburg, Russia,': 'ru',
 'Уфа, Россия': 'ru',
 'Россия, Москва': 'ru',
 'London, England': 'gb',
 'Saint-Petersburg / Moscow': 'ru',
 'Бийск': 'ru',
 'San Jose, CA': 'us',
 'Санкт-Петербург': 'ru',
 'St.Petersburg': 'us',
 'St-Petersburg': 'us',
 'Tver, Russia': 'ru',
 'pl': 'pl',
 'Warszawa': 'pl',
 'Краснодар, Россия': 'ru',
 'Saint-Petersburg, Russia.': 'ru',
 'LONDON ': 'gb',
 'nl': 'nl',
 'Амстердам': 'nl',
 'London, UK': 'gb',
 'Россия': 'ru',
 'au': 'au',
 'Brisbane, QLD': 'au',
 'SPB': 'ru',
 'moscow': 'ru',
 'russia': 'ru',
 'Russia, St.Pete': 'ru',
 'Liverpool': 'gb',
 'fr': 'fr',
 'Paris': 'fr',
 'LONDON': 'gb',
 'london': 'gb',
 'Saint-Petersburg, Russia': 'ru',
 'Россия, Санкт-Петербург': 'ru',
 'Bristol, England': 'gb',
 'Bochum, Germany': 'de',
 'Greater London, London': 'gb'}

## Extract location

Для NER использовать:
* spaCy - английский  
* natasha - русский

#### spaCy

In [14]:
import spacy
# import spacy_transformers

In [15]:
# nlp = spacy.load('ru_core_news_sm')
# nlp = spacy.load('en_core_web_sm')
nlp = spacy.load('xx_ent_wiki_sm')

In [16]:
# doc = nlp('Посол Израиля на Украине Йоэль Лион признался, что пришел в шок, узнав о решении властей Львовской области объявить 2019 год годом лидера запрещенной в России Организации украинских националистов (ОУН) Степана Бандеры. Свое заявление он разместил в Twitter. «Я не могу понять, как прославление тех, кто непосредственно принимал участие в ужасных антисемитских преступлениях, помогает бороться с антисемитизмом и ксенофобией. Украина не должна забывать о преступлениях, совершенных против украинских евреев, и никоим образом не отмечать их через почитание их исполнителей», — написал дипломат. 11 декабря Львовский областной совет принял решение провозгласить 2019 год в регионе годом Степана Бандеры в связи с празднованием 110-летия со дня рождения лидера ОУН (Бандера родился 1 января 1909 года). В июле аналогичное решение принял Житомирский областной совет. В начале месяца с предложением к президенту страны Петру Порошенко вернуть Бандере звание Героя Украины обратились депутаты Верховной Рады. Парламентарии уверены, что признание Бандеры национальным героем поможет в борьбе с подрывной деятельностью против Украины в информационном поле, а также остановит «распространение мифов, созданных российской пропагандой». Степан Бандера (1909-1959) был одним из лидеров Организации украинских националистов, выступающей за создание независимого государства на территориях с украиноязычным населением. В 2010 году в период президентства Виктора Ющенко Бандера был посмертно признан Героем Украины, однако впоследствии это решение было отменено судом. ')
doc = nlp('Екатеринбург')

In [17]:
ner = nlp.get_pipe("ner")

In [18]:
ner.labels

('LOC', 'MISC', 'ORG', 'PER')

In [19]:
%%time
processed = ner(doc)

CPU times: user 3.67 ms, sys: 1.14 ms, total: 4.81 ms
Wall time: 4.53 ms

In [20]:
ner

In [21]:
processed.ents

(Екатеринбург,)

In [22]:
for ent in processed.ents:
    print(ent.label_)
    print(ent.label)

LOC
385

#### natasha

In [23]:
from natasha import (
    Segmenter,
    MorphVocab,
    
    NewsEmbedding,
    NewsMorphTagger,
    NewsSyntaxParser,
    NewsNERTagger,
    
    PER,
    NamesExtractor,

    Doc
)

In [24]:
segmenter = Segmenter()
morph_vocab = MorphVocab()

emb = NewsEmbedding()
morph_tagger = NewsMorphTagger(emb)
syntax_parser = NewsSyntaxParser(emb)
ner_tagger = NewsNERTagger(emb)

names_extractor = NamesExtractor(morph_vocab)

In [25]:
text = 'Посол Израиля на Украине Йоэль Лион признался, что пришел в шок, узнав о решении властей Львовской области объявить 2019 год годом лидера запрещенной в России Организации украинских националистов (ОУН) Степана Бандеры. Свое заявление он разместил в Twitter. «Я не могу понять, как прославление тех, кто непосредственно принимал участие в ужасных антисемитских преступлениях, помогает бороться с антисемитизмом и ксенофобией. Украина не должна забывать о преступлениях, совершенных против украинских евреев, и никоим образом не отмечать их через почитание их исполнителей», — написал дипломат. 11 декабря Львовский областной совет принял решение провозгласить 2019 год в регионе годом Степана Бандеры в связи с празднованием 110-летия со дня рождения лидера ОУН (Бандера родился 1 января 1909 года). В июле аналогичное решение принял Житомирский областной совет. В начале месяца с предложением к президенту страны Петру Порошенко вернуть Бандере звание Героя Украины обратились депутаты Верховной Рады. Парламентарии уверены, что признание Бандеры национальным героем поможет в борьбе с подрывной деятельностью против Украины в информационном поле, а также остановит «распространение мифов, созданных российской пропагандой». Степан Бандера (1909-1959) был одним из лидеров Организации украинских националистов, выступающей за создание независимого государства на территориях с украиноязычным населением. В 2010 году в период президентства Виктора Ющенко Бандера был посмертно признан Героем Украины, однако впоследствии это решение было отменено судом. '
doc = Doc(text)

In [26]:
%%time
doc.segment(segmenter)
doc.tag_ner(ner_tagger)

CPU times: user 43.9 ms, sys: 6.62 ms, total: 50.5 ms
Wall time: 53.1 ms

In [27]:
doc.spans

[DocSpan(start=6, stop=13, type='LOC', text='Израиля', tokens=[...]),
 DocSpan(start=17, stop=24, type='LOC', text='Украине', tokens=[...]),
 DocSpan(start=25, stop=35, type='PER', text='Йоэль Лион', tokens=[...]),
 DocSpan(start=89, stop=106, type='LOC', text='Львовской области', tokens=[...]),
 DocSpan(start=152, stop=158, type='LOC', text='России', tokens=[...]),
 DocSpan(start=159, stop=201, type='ORG', text='Организации украинских националистов (ОУН)', tokens=[...]),
 DocSpan(start=202, stop=217, type='PER', text='Степана Бандеры', tokens=[...]),
 DocSpan(start=249, stop=256, type='ORG', text='Twitter', tokens=[...]),
 DocSpan(start=425, stop=432, type='LOC', text='Украина', tokens=[...]),
 DocSpan(start=604, stop=629, type='ORG', text='Львовский областной совет', tokens=[...]),
 DocSpan(start=684, stop=699, type='PER', text='Степана Бандеры', tokens=[...]),
 DocSpan(start=757, stop=760, type='ORG', text='ОУН', tokens=[...]),
 DocSpan(start=833, stop=860, type='ORG', text='Житомирский областной совет', tokens=[...]),
 DocSpan(start=913, stop=928, type='PER', text='Петру Порошенко', tokens=[...]),
 DocSpan(start=937, stop=944, type='PER', text='Бандере', tokens=[...]),
 DocSpan(start=958, stop=965, type='LOC', text='Украины', tokens=[...]),
 DocSpan(start=986, stop=1000, type='ORG', text='Верховной Рады', tokens=[...]),
 DocSpan(start=1039, stop=1046, type='PER', text='Бандеры', tokens=[...]),
 DocSpan(start=1117, stop=1124, type='LOC', text='Украины', tokens=[...]),
 DocSpan(start=1225, stop=1239, type='PER', text='Степан Бандера', tokens=[...]),
 DocSpan(start=1273, stop=1309, type='ORG', text='Организации украинских националистов', tokens=[...]),
 DocSpan(start=1439, stop=1453, type='PER', text='Виктора Ющенко', tokens=[...]),
 DocSpan(start=1454, stop=1461, type='PER', text='Бандера', tokens=[...]),
 DocSpan(start=1491, stop=1498, type='LOC', text='Украины', tokens=[...])]

In [28]:
doc.ner.print()

Посол Израиля на Украине Йоэль Лион признался, что пришел в шок, узнав
      LOC────    LOC──── PER───────
 о решении властей Львовской области объявить 2019 год годом лидера
                   LOC──────────────
запрещенной в России Организации украинских националистов (ОУН)
              LOC─── ORG───────────────────────────────────────
Степана Бандеры. Свое заявление он разместил в Twitter. «Я не могу
PER────────────                                ORG────
понять, как прославление тех, кто непосредственно принимал участие в
ужасных антисемитских преступлениях, помогает бороться с
антисемитизмом и ксенофобией. Украина не должна забывать о
                              LOC────
преступлениях, совершенных против украинских евреев, и никоим образом
не отмечать их через почитание их исполнителей», — написал дипломат.
11 декабря Львовский областной совет принял решение провозгласить 2019
           ORG──────────────────────
 год в регионе годом Степана Бандеры в связи с празднованием 110-летия
                     PER────────────
 со дня рождения лидера ОУН (Бандера родился 1 января 1909 года). В
                        ORG
июле аналогичное решение принял Житомирский областной совет. В начале
                                ORG────────────────────────
месяца с предложением к президенту страны Петру Порошенко вернуть
                                          PER────────────
Бандере звание Героя Украины обратились депутаты Верховной Рады.
PER────              LOC────                     ORG───────────
Парламентарии уверены, что признание Бандеры национальным героем
                                     PER────
поможет в борьбе с подрывной деятельностью против Украины в
                                                  LOC────
информационном поле, а также остановит «распространение мифов,
созданных российской пропагандой». Степан Бандера (1909-1959) был
                                   PER───────────
одним из лидеров Организации украинских националистов, выступающей за
                 ORG─────────────────────────────────
создание независимого государства на территориях с украиноязычным
населением. В 2010 году в период президентства Виктора Ющенко Бандера
                                               PER─────────── PER────
был посмертно признан Героем Украины, однако впоследствии это решение
                             LOC────
было отменено судом.

spaCy быстрее => используем spaCY

#### NER функция

In [29]:
import spacy

def NER(dataframe):
    df = dataframe.copy()
#     nlp_ru = spacy.load('ru_core_news_sm')
#     ner_ru = nlp_ru.get_pipe("ner")
    nlp_xx = spacy.load('xx_ent_wiki_sm')
    ner_xx = nlp_xx.get_pipe("ner")
    useful_NER_labels = ['LOC']
    changed_values_count = 0
    for i,row in df.iterrows() :
        if row.location == '':
            continue
        if row.location in abbHistoryDict:
            continue
        
#         doc_ru = nlp_ru('Ur Statue of liberty mama is a London hoe')
#         processed_ru = ner_ru(doc_ru)
        doc_xx = nlp_xx(row.location)
        processed_xx = ner_xx(doc_xx)
        
        for ent in processed_xx.ents:
            if (ent.label_ in useful_NER_labels):
                formatted_location = nominatimQueryToCountryCode(str(ent))
                if formatted_location :
                    
                    abbHistoryDict[formatted_location] = formatted_location
                    abbHistoryDict[str(ent)] = formatted_location
                    
                    df.iloc[i].location = formatted_location
                    changed_values_count += 1
                    break
                    
    changed_values_percent = changed_values_count/len(df)
    return df , changed_values_percent

In [30]:
%%time
NERresDF, changed_with_NER_percent = NER(obviousDF)

CPU times: user 3.13 s, sys: 398 ms, total: 3.53 s
Wall time: 36.1 s

In [31]:
changed_with_NER_percent

0.07236842105263158

In [158]:
import numpy as np

In [161]:
np.savetxt('test2',NERresDF.loc[:,['username']].values.flatten(), delimiter='/n',fmt='%s')

In [32]:
NERresDF.loc[~NERresDF.location.apply(lambda x: x in abbHistoryDict)&(NERresDF.location != '')]

            username                        location
8           soulkhan                      cool world
13     probattle_rap                         hip-hop
19        RISKYROADZ                 The grime scene
20         grimegran                   Bethnal Green
27         djino1000                       на районе
32       RapSkillzMK  Former Yugoslav Republic of Ma
34          shumm322                       On My Way
43      DavidVujanic                    THE UNIVERSE
50       jubileewins          your girlfriend's mind
60     wearefilmgods                        Universe
78        atmosphere                  Minneappleseed
83         DNA_GTFOH               DNA Clothing 🔽🔽🔽🔽
89          tierstar                          BERLIN
94         1djunique          ÜT: 51.519438,0.171234
96           Aspektz                     #NextLevel
101         Evidence                     Unlearning
113        ThekidJ_c                         yaktown
117      hollowdadon             Frequency £8●6g9》°₩
120      MickeyFactz                IG: Mickey.Factz
122         Vada_Fly                        Up there
124          rapgrid              Worldwide Movement
125            Drect                    The Internet
128    iamFemiConfam                    Worldwide!!!
136      iamblizzard                             BL9
139     KingOfTheDot                       Worldwide
141         daylyt30                         Argatha
144       MorraYarty                         Saint P
147      vlonesmooky                         batcave
158        McKayFelt                         ●earth○
160      CaughtAStar                       The World
167       LittleSimz                    North London
194    GeniqOfficial       Somewhere in the Universe
196     BreezeyMuzik                 anotherplan3t💫🌊
198          RipBeat                       Лузервиль
201      youloveidan                     RIX/LDN/SPB
211      jetvillains    твоё сердечко, но вообще мск
218       FUNKFORMER                    moscow-disco
224        NaumBleek                    Екатеринбург
225   alexanderclare                            NW11
238  StephenLeeClark                    The gridiron
245  bastaakanoggano              Баста в Лужниках!
250   amatorystewart    stage/studio/bus/train/plane
260       JESSEMMURE     iPhone: 54.970268,-1.618102
263   escvpe_fashion                     L.O.N.D.O.N
283      DenLuperkal     снежная ловушка безвременья
291          kekcoff               london south east
303   JahnaSebastian              The Planet Jahnius

In [165]:
pd.read_csv('test2', header=None, names = ['username','location'])

            username  location
0     IKONASTILYA420       NaN
1               St1m       NaN
2      brucefranksjr       NaN
3    RuslanSoluyanov       NaN
4          kyok_quok       NaN
..               ...       ...
299      GalinaVyday       NaN
300           akatov       NaN
301       MARKMARKUL       NaN
302             grju       NaN
303   JahnaSebastian       NaN

[304 rows x 2 columns]

In [ ]:
# chdf = pd.read_csv('test_names_list.csv', header=None, names = ['username','location'])
# chdf = chdf.fillna('')
# chdf

In [ ]:
# chdf.location = chdf.apply(lambda row: getUserInfo(row['username'])['location'],axis = 1)
# chdf

In [98]:
# import pickle

In [ ]:
# abbHistoryDict = {}

In [ ]:
# pickle.dump(abbHistoryDict, open('abbHistoryDict.p', 'wb'))

In [ ]:
# abbHistoryDict = pd.read_pickle('abbHistoryDict.p')

In [ ]:
# abbHistoryDict

In [ ]:
# NERresDF

In [ ]:
NERresDF.loc[NERresDF.location == 'br']

In [ ]:
konyaev_fans.iloc[134]

In [76]:
def letters(input):
    return ''.join(filter(str.isalpha, input))

In [119]:
countries_codes_df = pd.read_pickle('alpha2_alpha3_dict.p')

In [148]:
counted_unique_df = NERresDF.groupby('location')['username'].nunique()

In [149]:
counted_unique_df = counted_unique_df.loc[pd.Series(counted_unique_df.keys()).apply(lambda x: x in abbHistoryDict).to_list()]
counted_unique_df = pd.DataFrame(counted_unique_df)
counted_unique_df = counted_unique_df.assign(ISO3=pd.Series(counted_unique_df.index).apply(lambda x: countries_codes_df[x.upper()]).values)
counted_unique_df = counted_unique_df.assign(proportion=pd.Series(counted_unique_df['username'].apply(lambda x: x/counted_unique_df['username'].sum())).values)
counted_unique_df

          username ISO3  proportion
location
au               1  AUS    0.005780
br               1  BRA    0.005780
by               1  BLR    0.005780
ca               7  CAN    0.040462
cz               2  CZE    0.011561
de               3  DEU    0.017341
es               1  ESP    0.005780
fi               1  FIN    0.005780
fr               3  FRA    0.017341
gb              42  GBR    0.242775
hr               1  HRV    0.005780
il               1  ISR    0.005780
ma               1  MAR    0.005780
nl               1  NLD    0.005780
ph               1  PHL    0.005780
pk               1  PAK    0.005780
pl               1  POL    0.005780
pt               1  PRT    0.005780
ru              74  RUS    0.427746
sk               1  SVK    0.005780
ua               3  UKR    0.017341
us              25  USA    0.144509

In [147]:
proportion_unique_df = pd.Series(counted_unique_df['username'].apply(lambda x: x/counted_unique_df['username'].sum()))
proportion_unique_df

location
au    0.005780
br    0.005780
by    0.005780
ca    0.040462
cz    0.011561
de    0.017341
es    0.005780
fi    0.005780
fr    0.017341
gb    0.242775
hr    0.005780
il    0.005780
ma    0.005780
nl    0.005780
ph    0.005780
pk    0.005780
pl    0.005780
pt    0.005780
ru    0.427746
sk    0.005780
ua    0.017341
us    0.144509
Name: username, dtype: float64

In [145]:
counted_unique_df.to_dict(orient='records')

[{'username': 1, 'ISO3': 'AUS'},
 {'username': 1, 'ISO3': 'BRA'},
 {'username': 1, 'ISO3': 'BLR'},
 {'username': 7, 'ISO3': 'CAN'},
 {'username': 2, 'ISO3': 'CZE'},
 {'username': 3, 'ISO3': 'DEU'},
 {'username': 1, 'ISO3': 'ESP'},
 {'username': 1, 'ISO3': 'FIN'},
 {'username': 3, 'ISO3': 'FRA'},
 {'username': 42, 'ISO3': 'GBR'},
 {'username': 1, 'ISO3': 'HRV'},
 {'username': 1, 'ISO3': 'ISR'},
 {'username': 1, 'ISO3': 'MAR'},
 {'username': 1, 'ISO3': 'NLD'},
 {'username': 1, 'ISO3': 'PHL'},
 {'username': 1, 'ISO3': 'PAK'},
 {'username': 1, 'ISO3': 'POL'},
 {'username': 1, 'ISO3': 'PRT'},
 {'username': 74, 'ISO3': 'RUS'},
 {'username': 1, 'ISO3': 'SVK'},
 {'username': 3, 'ISO3': 'UKR'},
 {'username': 25, 'ISO3': 'USA'}]

In [168]:
df1 = pd.read_csv('test2', header=None, names = ['username','location'])
df1 = df1.fillna('')
# df.location = df.apply(lambda row: getUserInfo(row['username'])['location'],axis = 1)
df1

            username location
0     IKONASTILYA420
1               St1m
2      brucefranksjr
3    RuslanSoluyanov
4          kyok_quok
..               ...      ...
299      GalinaVyday
300           akatov
301       MARKMARKUL
302             grju
303   JahnaSebastian

[304 rows x 2 columns]

In [167]:
df

            username                location
0     IKONASTILYA420                  Москва
1               St1m                  Moscow
2      brucefranksjr            Arizona, USA
3    RuslanSoluyanov
4          kyok_quok  Prague, Czech Republic
..               ...                     ...
299      GalinaVyday                  London
300           akatov                  London
301       MARKMARKUL  Greater London, London
302             grju
303   JahnaSebastian      The Planet Jahnius

[304 rows x 2 columns]